USERNAME=your_username_here
PASSWORD=your_password_here
SOURCE_STATION=source_station_name
DEST_STATION=destination_station_name
JOURNEY_DATE=journey_date
JOURNEY_CLASS=journey_class
JOURNEY_QUOTA=GENERAL
TRAIN_NUMBERS=12430,19032
PASSENGER_NAME=passenger_name
PASSENGER_AGE=passenger_age
PASSENGER_GENDER=Male
PASSENGER_PREFERENCE=Upper